#editbtn a{
    color: #fff;
    background: rgb(17, 248, 140);
    padding: 4px 14px;
    border-radius: 70px;
}

#editbtn a:hover{
    color: #fff;
    background: rgb(2, 199, 107);
    padding: 4px 14px;
    border-radius: 70px;
}

#h2edit{
    text-align: center;
}

.profilePreviewImg{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top:10px;
}

@media(min-width:800px){

    .profilePreviewImg{
        width: 30%;
        
    }
}
