*{
    box-sizing: border-box;
}

#header{
    height:75px;
    background-color:white;
    border-bottom: 2px solid gray;
}

#header_row{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#containerProfileInfo{
    margin-top:20px;
    
}

#rowProfileInfo{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 1px solid gray;
    padding-bottom:10px;
}

#profileImage{
    height:100px;
    width:100px;
    border-radius:50%;
}

.userInfo{
    display:flex;
    gap:15px;
}







#containerImageFeed{
    margin-top:50px;
}

#imageFeed{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    
}

#feedImage{
    height:250px;
    width:250px;
    padding-bottom:10px;
}

#containerTag{
    margin-top:50px;
}

#tag{
    text-align:center;
}

#containerUploadPost{
    margin-top:50px;
}

#titleUpload{
    text-align:center;
}


form{
    display:grid;
    align-items:center;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    
}

label{
    margin-top:20px;
    margin-bottom:5px;
}

.container_btn{
    display:grid;
    justify-content: center;
}

.btn_upload{
    margin-top:50px;
    width:100%;
}

#message{
    margin-top:25px;
}

#errorMessage{
    font-weight:bold;
    margin-top:-20px;
}