*{
    box-sizing: border-box;
}

#header{
    height:75px;
    background-color:white;
    border-bottom: 2px solid gray;
}

#header_row{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#containerProfileInfo{
    margin-top:20px;
    
}

#rowProfileInfo{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    
}

#containerProfileInfo{
    border-bottom: 1px solid gray;
    padding-bottom:10px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

#profileImage{
    height:100px;
    width:100px;
    border-radius:50%;
}

.userInfo{
    display:flex;
    gap:15px;
}







#containerImageFeed{
    margin-top:50px;
}

#imageFeed{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    
}

#feedImage{
    height:250px;
    width:250px;
    padding-bottom:10px;
}

#containerTag{
    margin-top:50px;
}

#tagTitle{
    text-align:center;
}



.upload{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    background-color: rgb(231, 228, 228);
    padding:25px;
    margin-bottom:50px;
}

.title__upload{
    text-align:center;
}


form{
    display:grid;
    align-items:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

label{
    margin-top:20px;
    margin-bottom:5px;
}

input, select{
    border:none;
    height:35px;
}

input{
    padding-left:5px;
}

.container_btn{
    display:grid;
    justify-content: center;
    margin-top:25px;
}

.btn__upload {
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius:50px;
    
    
}


#message{
    margin-top:25px;
}

#errorMessage{
    font-weight:bold;
    margin-top:-20px;
}


.title{
    text-align:center;
    margin-top:50px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.post{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    background-color: #D8E2DC;
    padding:25px;
    margin-bottom:50px;
    border-radius:10px;
}

.post__image{
    width: 100%;
    
}



.post__report{
    display:grid;
    justify-content:right;
}

.post__report a{
    color:black;
    text-decoration: none;
    background-color: #FEC5BB;
    padding:10px;
    border-radius:10px;
}

.post_user{
    display:flex;
    gap:50px;
    align-items: center;
    margin-bottom:20px;
    padding-top:20px;
}

.post_avatar{
    width:75px;
    height:75px;
    border-radius:50%;
}

.post_username{
    text-decoration: none;
    color:black;
}

.post_tags{
    display:flex;
    gap:5px;
    margin-bottom: 15px;
}

.post_tags a{
    text-decoration:none;
    color: #0d6efd;
}

.container__reports{
    margin-top:25px;
}

.btn__reports{
    text-decoration: none;
    padding: 10px 32px;
    background-color:rgb(231, 228, 228);
    border-radius: 50px;
    color: black;
    font-weight: 500;
    float: right;
    margin-right: 20px;
}

.btn-more{
    text-decoration: none;
    padding: 10px 32px;
    background-color:rgb(230, 230, 230);
    border-radius: 50px;
    color: black;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 175px;
    text-align: center;
    margin-bottom:50px;
}

.btn-location{
    color:black;
}
.admin__reports{
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-items:end;
}

.admin__reports a{
    color:black;
}

.prev-image{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    
    
}

figure{
    
    
    display: flex;
    justify-content:center;
    margin-top:20px;
}


.likes{
    display: flex;
}
.btnUnlike{
    display:none;
}

.display-likes{
    margin-top:10px;
}



.iconLike, .iconComment{
    width:25px;
    height:25px;
    
}

.btnComment {
    margin-left:10px;
    
}

.comment_input_field{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.commentInput{
    border-radius:10px;
    width:50%;
    display:none;
}

.comment{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-bottom: 5px;
}



.commentAvatar{
    width:50px;
    height:50px;
    border-radius:70%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.commentName{
    grid-column-start: 2;
    grid-row-start: 1;
    color: #0d6efd;
}

.commentText{
    grid-column-start: 2;
    grid-row-start: 2;
}




